In [16]:
#Trabajar con números en listas

#Almacenar números en listas
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650 #In kilograms, on Earth
print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decken bus weighs', bus_weight * gravity_on_planets[0], 'kg')

#min() y max () con listas
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

#Manipular datos de lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

planets_after_earth = planets[3:8]
print(planets_after_earth) 

planets_after_earth = planets[3:]
print(planets_after_earth)

#Uniendo listas
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

#Ordenar listas
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decken bus weighs 4781.7 kg
On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg
['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']
The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

In [9]:
#Crear una lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', ' Uranus', 'Neptune']

print('The first planet is: ', planets[0])
print('The second planet is: ', planets[1])
print('Teh third planet is', planets[2])

planets[3] = 'Red planet'
print('Mars is also known as:', planets[3])

#Determinar la longitud de una lista
numbers_of_planets = len(planets)
print('There are: ', numbers_of_planets, 'Planets in the solar system')

#Agregar valores a listas
planets.append('Pluto')
numbers_of_planets = len(planets)
print('There are actually', numbers_of_planets, 'planets in the solar system')

#Eliminar valores de una lista
planets.pop() # Goobye, pluto
numbers_of_planets = len(planets)
print('No, there are definitely', numbers_of_planets, 'planest in the solar system')

#Índices negativos
print("The first planet is", planets[0])
print('There penultimate planet is:', planets[-1])
print('The penultimate planet is:', planets[-2])

#Buscar un valor en una lista
jupiter_index = planets.index('Jupiter')
print('Jupiter is the:', jupiter_index + 1, 'planets from the sun')

The first planet is:  Mercury
The second planet is:  Venus
Teh third planet is Earth
Mars is also known as: Red planet
There are:  8 Planets in the solar system
There are actually 9 planets in the solar system
No, there are definitely 8 planest in the solar system
The first planet is Mercury
There penultimate planet is: Neptune
The penultimate planet is:  Uranus
Jupiter is the: 5 planets from the sun